<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5b630840b4c84b929d308e240dcf15e2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5b630840b4c84b929d308e240dcf15e2" ></div>
        
</body>
<script>    
    
            var map_5b630840b4c84b929d308e240dcf15e2 = L.map(
                "map_5b630840b4c84b929d308e240dcf15e2",
                {
                    center: [40.694481, -73.98666],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_94e5662546b54c2db06a27b5bac3baa5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5b630840b4c84b929d308e240dcf15e2);
        
    
            var marker_f2a01a0cf14041f69b492ce924ff6868 = L.marker(
                [40.694481, -73.98666],
                {}
            ).addTo(map_5b630840b4c84b929d308e240dcf15e2);
        
    
            var icon_01220147e6c744a98a007cccd8d9e38e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_f2a01a0cf14041f69b492ce924ff6868.setIcon(icon_01220147e6c744a98a007cccd8d9e38e);
        
    
        var popup_3c7588fd5db64a5aa5878e1a7ac3e976 = L.popup({"maxWidth": "100%"});

        
            var html_2adeee043b6e45038c30bd88e9b3dc10 = $(`<div id="html_2adeee043b6e45038c30bd88e9b3dc10" style="width: 100.0%; height: 100.0%;"><A href="/center1.html">Callahan's Castaways</A></div>`)[0];
            popup_3c7588fd5db64a5aa5878e1a7ac3e976.setContent(html_2adeee043b6e45038c30bd88e9b3dc10);
        

        marker_f2a01a0cf14041f69b492ce924ff6868.bindPopup(popup_3c7588fd5db64a5aa5878e1a7ac3e976)
        ;

        
    
    
            var marker_b6e18636445141ccb121e2b469b5935d = L.marker(
                [40.69936, -73.97898],
                {}
            ).addTo(map_5b630840b4c84b929d308e240dcf15e2);
        
    
            var icon_8c18a1aa119a46f79562c1a11e545872 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_b6e18636445141ccb121e2b469b5935d.setIcon(icon_8c18a1aa119a46f79562c1a11e545872);
        
    
        var popup_396bcb2fab3f45c9b8856b46b4271a0a = L.popup({"maxWidth": "100%"});

        
            var html_b1146c15bee6444cb03c869f12106132 = $(`<div id="html_b1146c15bee6444cb03c869f12106132" style="width: 100.0%; height: 100.0%;"><A href="/center2.html">Tanya's Terrific Givers</A></div>`)[0];
            popup_396bcb2fab3f45c9b8856b46b4271a0a.setContent(html_b1146c15bee6444cb03c869f12106132);
        

        marker_b6e18636445141ccb121e2b469b5935d.bindPopup(popup_396bcb2fab3f45c9b8856b46b4271a0a)
        ;

        
    
    
            var marker_b0a81d015e204cb1aaa1291bdb999acd = L.marker(
                [40.69032, -73.999357],
                {}
            ).addTo(map_5b630840b4c84b929d308e240dcf15e2);
        
    
            var icon_af8a3a2531e742528fdfba6f4c25700d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_b0a81d015e204cb1aaa1291bdb999acd.setIcon(icon_af8a3a2531e742528fdfba6f4c25700d);
        
    
        var popup_32b742a005934c5da084f514f8874b47 = L.popup({"maxWidth": "100%"});

        
            var html_b1a833eac5564fb39166b09572517fe2 = $(`<div id="html_b1a833eac5564fb39166b09572517fe2" style="width: 100.0%; height: 100.0%;"><A href="/center3.html">Avik's Able Homes</A></div>`)[0];
            popup_32b742a005934c5da084f514f8874b47.setContent(html_b1a833eac5564fb39166b09572517fe2);
        

        marker_b0a81d015e204cb1aaa1291bdb999acd.bindPopup(popup_32b742a005934c5da084f514f8874b47)
        ;

        
    
    
            var marker_e80098efa39d424283598003a73389e0 = L.marker(
                [40.68579, -73.9804],
                {}
            ).addTo(map_5b630840b4c84b929d308e240dcf15e2);
        
    
            var icon_b36b2321a87c434d86be7c3ebc2b4138 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_e80098efa39d424283598003a73389e0.setIcon(icon_b36b2321a87c434d86be7c3ebc2b4138);
        
    
        var popup_c4285836badf4981a269a3a3e6454d3a = L.popup({"maxWidth": "100%"});

        
            var html_ad1e2d700f0644b493f243d9b7b96ae2 = $(`<div id="html_ad1e2d700f0644b493f243d9b7b96ae2" style="width: 100.0%; height: 100.0%;"><A href="/center4.html">Crystal Clear Cause</A></div>`)[0];
            popup_c4285836badf4981a269a3a3e6454d3a.setContent(html_ad1e2d700f0644b493f243d9b7b96ae2);
        

        marker_e80098efa39d424283598003a73389e0.bindPopup(popup_c4285836badf4981a269a3a3e6454d3a)
        ;

        
    
</script>