<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a1c5f79c8a2e4381900fb32920606fa5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a1c5f79c8a2e4381900fb32920606fa5" ></div>
        
</body>
<script>    
    
            var map_a1c5f79c8a2e4381900fb32920606fa5 = L.map(
                "map_a1c5f79c8a2e4381900fb32920606fa5",
                {
                    center: [40.694481, -73.98666],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bdb2ff7c066f46d09b6bf09234460d5f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a1c5f79c8a2e4381900fb32920606fa5);
        
    
            var marker_ace9e8639d9f49cfbb3606ca7239c0d6 = L.marker(
                [40.694481, -73.98666],
                {}
            ).addTo(map_a1c5f79c8a2e4381900fb32920606fa5);
        
    
            var icon_19f4f44f2639478cb878a8b45b3a58a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_ace9e8639d9f49cfbb3606ca7239c0d6.setIcon(icon_19f4f44f2639478cb878a8b45b3a58a3);
        
    
        var popup_b8f2693619024aa3a7e20bbc5b651b3f = L.popup({"maxWidth": "100%"});

        
            var html_a190d04bd0c241b292e022db3d7ab42f = $(`<div id="html_a190d04bd0c241b292e022db3d7ab42f" style="width: 100.0%; height: 100.0%;"><A href="/center1.html">Callahan's Castaways</A></div>`)[0];
            popup_b8f2693619024aa3a7e20bbc5b651b3f.setContent(html_a190d04bd0c241b292e022db3d7ab42f);
        

        marker_ace9e8639d9f49cfbb3606ca7239c0d6.bindPopup(popup_b8f2693619024aa3a7e20bbc5b651b3f)
        ;

        
    
    
            var marker_5f49e6463fd54abcb9b5015c26406655 = L.marker(
                [40.69936, -73.97898],
                {}
            ).addTo(map_a1c5f79c8a2e4381900fb32920606fa5);
        
    
            var icon_36ffc665105947a0bd8e2b7713b753be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_5f49e6463fd54abcb9b5015c26406655.setIcon(icon_36ffc665105947a0bd8e2b7713b753be);
        
    
        var popup_8d75eb2cb12c4edcb1f082f3ff2f3590 = L.popup({"maxWidth": "100%"});

        
            var html_55ca3eda4e6641f9a7d10221fc262657 = $(`<div id="html_55ca3eda4e6641f9a7d10221fc262657" style="width: 100.0%; height: 100.0%;"><A href="/center2.html">Tanya's Terrific Givers</A></div>`)[0];
            popup_8d75eb2cb12c4edcb1f082f3ff2f3590.setContent(html_55ca3eda4e6641f9a7d10221fc262657);
        

        marker_5f49e6463fd54abcb9b5015c26406655.bindPopup(popup_8d75eb2cb12c4edcb1f082f3ff2f3590)
        ;

        
    
    
            var marker_bfa366341c944a1caf2f61a597832d58 = L.marker(
                [40.69032, -73.999357],
                {}
            ).addTo(map_a1c5f79c8a2e4381900fb32920606fa5);
        
    
            var icon_742acfa0684a4b4082019c2767f51b6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_bfa366341c944a1caf2f61a597832d58.setIcon(icon_742acfa0684a4b4082019c2767f51b6f);
        
    
        var popup_860971525bb74d659996a71a0b5947a9 = L.popup({"maxWidth": "100%"});

        
            var html_4277aeb32e6f4815b859770d8ec831b0 = $(`<div id="html_4277aeb32e6f4815b859770d8ec831b0" style="width: 100.0%; height: 100.0%;"><A href="/center3.html">Avik's Able Homes</A></div>`)[0];
            popup_860971525bb74d659996a71a0b5947a9.setContent(html_4277aeb32e6f4815b859770d8ec831b0);
        

        marker_bfa366341c944a1caf2f61a597832d58.bindPopup(popup_860971525bb74d659996a71a0b5947a9)
        ;

        
    
    
            var marker_9214424f9ed74c7fb56c117340a87e9c = L.marker(
                [40.68579, -73.9804],
                {}
            ).addTo(map_a1c5f79c8a2e4381900fb32920606fa5);
        
    
            var icon_93d798a3a7b24ee786ef69c77a7944a4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_9214424f9ed74c7fb56c117340a87e9c.setIcon(icon_93d798a3a7b24ee786ef69c77a7944a4);
        
    
        var popup_06f7e404d0324d64b91d9475ae2a4dad = L.popup({"maxWidth": "100%"});

        
            var html_469da6c8dd734fd9bdb905d20423396c = $(`<div id="html_469da6c8dd734fd9bdb905d20423396c" style="width: 100.0%; height: 100.0%;"><A href="/center4.html">Crystal Clear Cause</A></div>`)[0];
            popup_06f7e404d0324d64b91d9475ae2a4dad.setContent(html_469da6c8dd734fd9bdb905d20423396c);
        

        marker_9214424f9ed74c7fb56c117340a87e9c.bindPopup(popup_06f7e404d0324d64b91d9475ae2a4dad)
        ;

        
    
</script>