<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b7f48cbb272341718a539d06c28e0562 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b7f48cbb272341718a539d06c28e0562" ></div>
        
</body>
<script>    
    
            var map_b7f48cbb272341718a539d06c28e0562 = L.map(
                "map_b7f48cbb272341718a539d06c28e0562",
                {
                    center: [40.694481, -73.98666],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_81681dd196c94194ae612d7aa4db4d08 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b7f48cbb272341718a539d06c28e0562);
        
    
            var marker_5bd2c2eff67b4cfeae294ceabc9176a3 = L.marker(
                [40.694481, -73.98666],
                {}
            ).addTo(map_b7f48cbb272341718a539d06c28e0562);
        
    
            var icon_f9b323870646403c8ff521573b060e7d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_5bd2c2eff67b4cfeae294ceabc9176a3.setIcon(icon_f9b323870646403c8ff521573b060e7d);
        
    
        var popup_7e349058775944e38de84c4e8ebb4756 = L.popup({"maxWidth": "100%"});

        
            var html_f9dbb2036d034d1eb94066b14bc172e8 = $(`<div id="html_f9dbb2036d034d1eb94066b14bc172e8" style="width: 100.0%; height: 100.0%;"><A href="/center1.html">Callahan's Castaways</A></div>`)[0];
            popup_7e349058775944e38de84c4e8ebb4756.setContent(html_f9dbb2036d034d1eb94066b14bc172e8);
        

        marker_5bd2c2eff67b4cfeae294ceabc9176a3.bindPopup(popup_7e349058775944e38de84c4e8ebb4756)
        ;

        
    
    
            var marker_3ed6a8a6ed7a499e9243d0fc790dc490 = L.marker(
                [40.69936, -73.97898],
                {}
            ).addTo(map_b7f48cbb272341718a539d06c28e0562);
        
    
            var icon_a7d3efaa1f1145aa83f580e75af44d8b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_3ed6a8a6ed7a499e9243d0fc790dc490.setIcon(icon_a7d3efaa1f1145aa83f580e75af44d8b);
        
    
        var popup_40557f1fa18d4771813b318089ee86ec = L.popup({"maxWidth": "100%"});

        
            var html_fb05073ea9684359b8c0ef35f321cb19 = $(`<div id="html_fb05073ea9684359b8c0ef35f321cb19" style="width: 100.0%; height: 100.0%;"><A href="/center2.html">Tanya's Terrific Givers</A></div>`)[0];
            popup_40557f1fa18d4771813b318089ee86ec.setContent(html_fb05073ea9684359b8c0ef35f321cb19);
        

        marker_3ed6a8a6ed7a499e9243d0fc790dc490.bindPopup(popup_40557f1fa18d4771813b318089ee86ec)
        ;

        
    
    
            var marker_5759971ea1c14e208bf5023805daf6ed = L.marker(
                [40.69032, -73.999357],
                {}
            ).addTo(map_b7f48cbb272341718a539d06c28e0562);
        
    
            var icon_4e75f5d5561747959faf496ad56425b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_5759971ea1c14e208bf5023805daf6ed.setIcon(icon_4e75f5d5561747959faf496ad56425b1);
        
    
        var popup_c4f94c4697d34cd3a121d83ce772a80d = L.popup({"maxWidth": "100%"});

        
            var html_1e0b560f2c614192acdcb663a8fb76ac = $(`<div id="html_1e0b560f2c614192acdcb663a8fb76ac" style="width: 100.0%; height: 100.0%;"><A href="/center3.html">Avik's Able Homes</A></div>`)[0];
            popup_c4f94c4697d34cd3a121d83ce772a80d.setContent(html_1e0b560f2c614192acdcb663a8fb76ac);
        

        marker_5759971ea1c14e208bf5023805daf6ed.bindPopup(popup_c4f94c4697d34cd3a121d83ce772a80d)
        ;

        
    
    
            var marker_ec165802cc8a499c8c632bf562af742f = L.marker(
                [40.68579, -73.9804],
                {}
            ).addTo(map_b7f48cbb272341718a539d06c28e0562);
        
    
            var icon_766d991ae2664e31b186bcee6b1dae73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_ec165802cc8a499c8c632bf562af742f.setIcon(icon_766d991ae2664e31b186bcee6b1dae73);
        
    
        var popup_98efab8853ea492f8281b0e048482402 = L.popup({"maxWidth": "100%"});

        
            var html_3d336fe10c93484bab7e67d5266670da = $(`<div id="html_3d336fe10c93484bab7e67d5266670da" style="width: 100.0%; height: 100.0%;"><A href="/center4.html">Crystal Clear Cause</A></div>`)[0];
            popup_98efab8853ea492f8281b0e048482402.setContent(html_3d336fe10c93484bab7e67d5266670da);
        

        marker_ec165802cc8a499c8c632bf562af742f.bindPopup(popup_98efab8853ea492f8281b0e048482402)
        ;

        
    
</script>